<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/4a8337fc93.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/styles.css">
  <title><%=title%></title>
  
</head>
<body>
<div class="outer-div">
  <h1 id="page-heading">
    <i class="fas fa-address-book"></i>
    My Contacts List
  </h1>

  <div class="contact-list-container">
    <ul>
      <%for(let i = 0;i<contactList.length; i++){ %>
      <li class="contact">
        <div class="details">
          <p><%=contactList[i].name%></p>
          <p><%=contactList[i].phone%></p>
        </div>
        <div class="close-button">
          <a href="/delete-contact/<%= contactList[i].phone %>">
            <i class="fas fa-window-close"></i>
          </a>
        </div>
      </li>
      <%}%>
    </ul>
  </div>
  
  <form id="new-contact-form" action="/create-contact" method="post">
    <input type="text" name="name" placeholder="Enter your Name here" required>
    <input type="number" name="phone" placeholder="Enter your No. here" required>
  <button type="submit" >Add</button>
  </form>
</div>
</body>
</html>




